
/* LOGIN AND REGISTER */

#user-section {
  min-height: 100vh;
  border: 5px solid rgb(35, 32, 49);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.user-form {
  padding: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-logo {
  width: 10rem;
}
.form-logo img {
  width: 100%;
}

.form-control {
  border: 5px solid rgb(35, 32, 49);
  background: transparent;
}

.form-submit {
  background-color: rgb(35, 32, 49);
  color: bisque;
  transition: 0.3s;
}
.form-submit:hover {
  color: bisque;
  transform: scale(1.05);
}

/* CART SECTION */

.cart-child{  
  margin-right: 2rem;
}

.cart-child input{
  width: fit-content;
}
